.gridContainer {
    display: flex;
    background-color: lightgray;
    justify-content: space-evenly;
    flex-direction: column;
    height: 91vh;
}

.sliderBox{
    display: flex;
    justify-content: center;
    padding: 2vh;
}
